body {
    background-color: rgb(252, 232, 232);
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: #B865F1;
    margin: 0;
    padding: 0;
}

header > * {
    display: inline-block;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
}

header > h1 {
    color: white;
    width: 5%;
}

header > form {
    width: 70%;
}

header > form > label > i {
    color: white;
}

header > navbar {
    position: relative;
    width: 20%;
}

header > navbar > nav > a {
    color: white;
    font-size: 127%;
    padding: 2ex;
    position: relative;
    text-decoration: none;
}
.col {
    float: left;
    padding: 0.2vw;
    width: 24.2%;
}

.col .pin div img {
    border-radius: 10%;
    width: 100%
}

.col .pin section.pin-title {
    color: rgb(89, 32, 128);
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    top: 0;
}

.pin:hover {
    transform:scale(0.8); 
    -webkit-transform:scale(0.8);
}